modules = ["nodejs-20", "web", "bash"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run dev & pnpm --filter @workspace/menashe-calendar run dev"
waitForPort = 5000

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8083
externalPort = 3003

[[ports]]
localPort = 8084
externalPort = 4200

[[ports]]
localPort = 8085
externalPort = 6000

[[ports]]
localPort = 8086
externalPort = 3002

[[ports]]
localPort = 21636
externalPort = 3000

[[ports]]
localPort = 25726
externalPort = 5000

[[ports]]
localPort = 25727
externalPort = 5173

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BBWVKa2fu6rVkKANdSG9_bFbIoEa41LlZs2J2XThCuMF6DHxgLFKRNtwqXEcNkbvn5Uy20Oxo3j70RRuEvOvYFo"
VAPID_PRIVATE_KEY = "71-eZWQZMNH5gXgknxsKuxeYxm1xTEPDq13xKRc_wDc"
VAPID_SUBJECT = "mailto:admin@menashecalendar.app"
VITE_CLERK_PROXY_URL = ""
CLERK_PUBLISHABLE_KEY = "pk_test_YWR2YW5jZWQtbGxhbWEtNjIuY2xlcmsuYWNjb3VudHMuZGV2JA"
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY = "pk_test_YWR2YW5jZWQtbGxhbWEtNjIuY2xlcmsuYWNjb3VudHMuZGV2JA"
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_YWR2YW5jZWQtbGxhbWEtNjIuY2xlcmsuYWNjb3VudHMuZGV2JA"
SUPABASE = "pk_test_cHJlc2VudC1waXBlZmlzaC0xNy5jbGVyay5hY2NvdW50cy5kZXYk"
SUPABASE_API_sec_key = "sk_test_O4HdH2jIETJ5dc37SEPW9p3qhTiEjuTzxsjyq3QJht"
ADMIN_PIN = "1948"
VITE_ADMIN_PIN = "1948"
