modules = ["nodejs-20", "web", "bash"]

[deployment]
router = "application"
deploymentTarget = "autoscale"
run = ["node", "--enable-source-maps", "artifacts/api-server/dist/index.mjs"]
build = ["bash", "-c", "pnpm --filter @workspace/menashe-calendar run build && pnpm --filter @workspace/api-server run build"]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm install --frozen-lockfile && pnpm --filter @workspace/menashe-calendar run dev"
waitForPort = 5000

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true
integrations = ["javascript_openai_ai_integrations:2.0.0", "javascript_gemini_ai_integrations:2.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 21636
externalPort = 3000

[[ports]]
localPort = 25726
externalPort = 5000

[[ports]]
localPort = 25727
externalPort = 5173

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BBWVKa2fu6rVkKANdSG9_bFbIoEa41LlZs2J2XThCuMF6DHxgLFKRNtwqXEcNkbvn5Uy20Oxo3j70RRuEvOvYFo"
VAPID_SUBJECT = "mailto:admin@menashecalendar.app"
VITE_CLERK_PROXY_URL = ""
CLERK_PUBLISHABLE_KEY = "pk_test_cHJlc2VudC1waXBlZmlzaC0xNy5jbGVyay5hY2NvdW50cy5kZXYk"
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY = "pk_test_cHJlc2VudC1waXBlZmlzaC0xNy5jbGVyay5hY2NvdW50cy5kZXYk"
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_cHJlc2VudC1waXBlZmlzaC0xNy5jbGVyay5hY2NvdW50cy5kZXYk"
ADMIN_PIN = "1948"
VITE_ADMIN_PIN = "1948"
ADMIN_USER_ID = "user_3FPrdIHD0jHZYORFdutfQ4aspal"
VITE_ADMIN_USER_ID = "user_3FPrdIHD0jHZYORFdutfQ4aspal"
CLERK_SECRET_KEY = "sk_test_OpoT3oBG3qloOOkl2q537LSUwYJ5NYxVQ3ay5og6I2"

[objectStorage]
defaultBucketID = "replit-objstore-c5b161bf-7380-4234-b117-63cabc6e63ee"
